.notes-display {
    width: 80%;
    float: right;
    outline: 1px solid purple;
    padding: 30px;
}

.note {
    position: relative;
    outline: 1px solid #aaa;
    padding: 30px;
    margin-bottom: 30px;
}

.delete-button {
    float: right;
    /* bottom: 30px; */
    /* right: 30px; */
}