nav {
    width: 20%;
    float: left;
    outline: 1px solid blue;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 30px;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
}

nav ul li .active {
    background-color: black;
    border: 1px solid black;
    color: white;
}