nav {
    width: 20%;
    float: left;
    outline: 1px solid blue;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

a, a:visited {
    text-transform: uppercase;
    font-weight: normal;
    color: black;
}

.add-content {
    margin-bottom: 30px;
}

.add-content ul li {
    float: left;
    text-decoration: none;
    outline: 1px solid orange;
    width: 50%;
    padding: 0px 10px;
}

.folder-list ul li {
    list-style-type: none;
    padding: 30px;
    color: black;
    background-color: white;
    border: 1px solid rgb(37, 36, 36);
}

.folder-list a, .folder-list a:active {
    font-weight: bold;
    background-color: black;
    color: white;
}