nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.navigation {
    width: 30%;
    float: left;
    text-align: center;
    padding-right: 30px;
}

.add-content {
    margin-bottom: 30px;
}

.add-content ul li {
    font-size: 0.9rem;
    color: #fafafa;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #45d0ad;
    border-radius: 20px;
    transition: 0.4s ease all;
}

.add-content ul li:hover {
    background-color: #a5efdc;
}

.folder-list h3 {
    color: #333;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.folder-list ul li {
    font-size: 0.9rem;
    color: #fafafa;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #ffc381;
    border-radius: 50px;
    transition: 0.4s ease all;
}

.folder-list ul li:hover {
    background-color: #ffe498;
}