.app-content {
    margin-top: 150px;
    outline: 1px solid green;
}

header {
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    outline: 1px solid orange;
}

header h1 {
    text-align: center;
}